@import '@assets/styles/theme.scss';

.uploader {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 300px;
  max-height: 600px;
  overflow-y: auto;
  height: auto;
  padding: 5px 10px 10px;
  border-radius: 10px;
  background-color: $font-color;
  color: $background-color;
  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 16px;
  }
  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 700;
    color: $background-color;
  }
}

.upload-file {
  position: relative;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: $background-color;
  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  &__name {
    color: $font-color;
  }
  &__close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 700;
    color: $background-color;
  }
  &__progress-bar {
    border-radius: 6px;
    background-color: $font-color;
    display: flex;
    margin: 3px 0;
  }
  &__upload-bar {
    height: 20px;
    border-radius: 6px;
    background-color: rgb(114, 145, 84);
    min-width: 10%;
    max-width: 100%;
    text-align: center;
  }
  &__percent {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }
}
