@import '../../assets/styles/theme.scss';

.disk {
  width: 100%;
  height: 100%;
  padding: 10px;
  color: $font-color;
  &__btns {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    .btn {
      margin-right: 10px;
    }
  }
  &__select {
    color: $font-color;
    font-weight: 700;
    border-radius: 8px;
    border: solid 1px  $font-color;
    padding: 5px;
    padding-right: 30px;
  }
  &__plate {
    height: 20px;
    width: 20px;
    margin: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: center center no-repeat;
    background-size: contain;
    opacity: .4;
    &_is-active {
      opacity: 1;
    }
    &_1 {
      margin-left: auto;
      background-image: url('../../assets/images/plate-1.svg');
    }
    &_2 {
      background-image: url('../../assets/images/plate-2.svg');
    }
    &_3 {
      margin-right: 20px;
      background-image: url('../../assets/images/plate-3.svg');
    }
  }
}
.drop-area {
  width: 90%;
  height: 90%;
  margin: 10px;
  border: $font-color 2px dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
