@import '../../../../assets/styles/theme.scss';

.file {
  margin: 10px 0;
  max-height: 50px;
  border-bottom: 2px solid $font-color;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
  &:hover {
    transform: scale(1.01);
  }

  &__img {
    height: 30px;
    margin-left: 10px;
  }

  &__name {
    grid-column-start: 2;
  }

  &__data {
    grid-column-start: 5;
    justify-self: center;
  }

  &__size {
    grid-column-start: 6;
    justify-self: center;
  }

  &__download,
  &__remove {
    justify-self: center;
    cursor: pointer;
    opacity: .3;
  }
  &__download {
    grid-column-start: 3;
    color: green;
  }
  &__remove {
    grid-column-start: 4;
    color: red;
  }

  &:hover {
    .file__download,
    .file__remove {
      opacity: .7;
    }
  }
}
